<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8-hI-zXwEi8TJU9EPT7ytjpCbDrbOVHE_0EEybsIHCWwIoLHU9bqw7l9RXXos7HTFyks&usqp=CAU"
      alt
      height="200px">
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do angular </a></h1>
  </div>
  <div class="big-card__description">

    <p>
      <a href="#">
        is simply dummy text of the printing and typesetting industry. Lorem
        Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a
        type specimen book.
      </a>
    </p>

  </div>
</div>
