<div class="container__big-card">
  <div class="big-card__photo">
    <img
    src="https://cdn3.vectorstock.com/i/1000x1000/35/52/placeholder-rgb-color-icon-vector-32173552.jpg"
    alt=""
    height="200px"
    >
  </div>
  <div class="big-card__title">
    <h1>Saiu a nova versão do angular</h1>
  </div>
  <div class="big-card__description">
    <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
  </div>
</div>
